.table-design {
  margin-top: 30px;
  padding: 20px;
  height: 60%;
  margin-bottom: 5px;
  border-radius: 5px;

  .table-head {
    font-weight: bold;
    text-align: center;
  }
  .user-details {
    .user-profile {
      padding: 20px;
      text-align: center;
    }
  }
}