.CallQueueCommentPopUp {
    .CallQueueCommentPopUp-card {
        padding: 5px;
        font-size: 14px;
        color: black !important;
        margin-bottom: 8px;
        border: 2px solid gray;
        width: 97%;
        border-radius: 5px;
    }


    .textBox {
        margin-bottom: -15px;
        margin-top: 10px;

    }

    .comment-box-design {
        width: 86%;
        height: 90px;
    }

    .comment-button-design {

        height: 60px;
    }

    .is-invalid {
        border: 1px solid red;
    }

    .date-color {
        color: rgb(3, 70, 194);
    }

}